<header>
    <div class="header">
        <div class="logo">
            <a href="{{ path('all_figure') }}">
                <img src="/images/default.jpg" alt="">
            </a>

        </div>
        <div class="menu">
            <a href="{{ path('all_figure') }}">Accueil</a>
            <a href="{{ path('all_figure_user') }}">Mes tricks</a>
            <a href="">Connexion</a>
            <a href="">Inscription</a>
            <a href="">Déconnexion</a>
        </div>
    </div>
    <div class="header-resp">
        <div>
            <a href="{{ path('all_figure') }}">C</a>
        </div>
        <div>
            <a href="{{ path('all_figure_user') }}">T</a>
        </div>
        <div>
            <a href="">L</a>
        </div>
    </div>
</header>