<header>
    <div class="header">
        <div class="logo">
            <a href="{{ path('all_figure') }}">
                <img src="/images/default.jpg" alt="">
            </a>

        </div>
        <div class="menu">
            <a href="{{ path('all_figure') }}">Accueil</a>
            {% if app.user %}
                <a href="{{ path('all_figure_user') }}">Mes tricks</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else%}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}



        </div>
    </div>
    <div class="header-resp">
        <div>
            <a href="{{ path('all_figure') }}"><i class="fa-solid fa-house"></i></a>
        </div>
        {% if app.user %}
            <div>
                <a href="{{ path('all_figure_user') }}"><i class="fa-solid fa-bookmark"></i></a>
            </div>
            <div>
                <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        {% else %}
            <div>
                <a href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
            <div>
                <a href="{{ path('app_register') }}"><i class="fa-solid fa-user-plus"></i></a>
            </div>
        {% endif %}



    </div>
</header>