{% extends 'base.html.twig' %}

{% block title %}Mes figures{% endblock %}

{% block body %}
    <div id="all-figures">
        <div class="section-two">
            <div class="articles">
                <a href="{{ path('add_figure') }}" class="article"><img class="add" src="/images/plus.png" alt=""></a>
                {% for figure in figures  %}
                        <div class="article">
                            <a href="{{ path('single_figure', {'id': figure.id}) }}">
                            <div class="image">
                                {% if figure.getMainMedia == null %}
                                    <img src="/images/default-miniature.webp" alt="">
                                {% else %}
                                    <img class="portrait-img" src="/images/media/figures-img/{{ figure.getMainMedia.url}}" alt="">
                                {% endif %}
                            </div>
                            <div class="title">
                                <p>{{ figure.title }}</p>
                            </div>
                            </a>
                            <div class="btn-action">
                                <div>
                                    <a href="{{ path('edit_figure', {'slug': figure.slug} ) }}">Modifier</a>
                                </div>
                               <div>
                                   <a onclick="document.getElementById('delete-{{ figure.id }}').style.display='block'" data-target="#delete-{{ figure.id }}">Suprimer</a>
                               </div>

                            </div>
                        </div>

                    <div class="modal" id="delete-{{ figure.id }}">
                        <span onclick="document.getElementById('delete-{{ figure.id }}').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <form class="modal-content" action="{{ path('delete_figure', {'id': figure.id}) }}" method="post">
                            <div class="container">
                                <h1>Êtes vous sur de vouloir supprimer {{ figure.title }}</h1>
                                <div class="clearfix">

                                        <input type="hidden" name="actuality" value="{{ figure.id }}">

                                        <button onclick="document.getElementById('delete-{{ figure.id }}').style.display='none'" type="button" class="cancelbtn" data-dismiss="modal">Non</button>
                                        <button type="submit" class="deletebtn">Oui</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
            {{ knp_pagination_render(figures) }}
        </div>
    </div>




{% endblock %}

{% block javascripts %}
<script>
    // Get the modal
    {% for figure in figures %}
    var modal = document.getElementById('delete-{{ figure.id }}');
    {% endfor %}
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}