{% extends 'base.html.twig' %}

{% block title %}Mes figures{% endblock %}

{% block body %}
    <div id="all-figures">
        <div class="section-two">
            <div class="articles">
                <a href="{{ path('add_figure') }}" class="article"><img class="add" src="/images/plus.png" alt=""></a>
                {% for figure in figures  %}
                        <div class="article">
                            <a href="{{ path('single_figure', {'id': figure.id}) }}">
                            <div class="image">
                                {% if figure.getMainMedia == null %}
                                    <img src="/images/default-miniature.webp" alt="">
                                {% else %}
                                    <img class="portrait-img" src="/images/media/figures-img/{{ figure.getMainMedia.url}}" alt="">
                                {% endif %}
                            </div>
                            <div class="title">
                                <p>{{ figure.title }}</p>
                            </div>
                            </a>
                            <div class="btn-action">
                                <div>
                                    <a href="{{ path('edit_figure', {'slug': figure.slug} ) }}">Modifier</a>
                                </div>
                               <div>
                                   <a onclick="document.getElementById('id01').style.display='block'">Supprimer</a>
                               </div>

                            </div>
                            <div id="id01" class="modal">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                <div class="modal-content">
                                    <div class="container">
                                        <h1>Êtes vous sûr de vouloir supprimer {{ figure.title }}</h1>

                                        <div class="clearfix">
                                            <button type="button" class="cancelbtn" onclick="document.getElementById('id01').style.display='none'">Annuler</button>
                                            <a href="{{ path('delete_figure', {'slug': figure.slug}) }}" class="deletebtn">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                {% endfor %}
            </div>
            {{ knp_pagination_render(figures) }}
        </div>
    </div>




{% endblock %}
{% block javascripts %}
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}