{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}
    <div id="figure" class="container">
        <div class="portrait">
            <img class="portrait-img" src="/images/test.jpg" alt="">
        </div>
        <h1>Ajouter Image</h1>
        {{ form_start(formImages) }}

        <div class="btn-form">
            <button type="submit" class="btn-send">Envoyer</button>
            <a class="btn-reject" href="{{ path('all_figure') }}">Annuler</a>
        </div>
        {{ form_end(formImages) }}
        <h1>Ajouter video</h1>
        {{ form_start(formVideo) }}

        <div class="btn-form">
            <button type="submit" class="btn-send">Envoyer</button>
            <a class="btn-reject" href="{{ path('all_figure') }}">Annuler</a>
        </div>
        {{ form_end(formVideo) }}
        <div class="description">
            {{ form_start(form) }}
            <div class="title">
                {{ form_row(form.title) }}
            </div>
            <div class="content">
                {{ form_row(form.description) }}
            </div>
            <div class="groups">
                {{ form_row(form.groups) }}
            </div>
            <div class="btn-form">
                <button type="submit" class="btn-send">Envoyer</button>
                <a class="btn-reject" href="{{ path('all_figure') }}">Annuler</a>
            </div>
            {{ form_end(form) }}
        </div>
        <a href="{{ path('delete_figure', {'slug': figure.slug}) }}">Supprimer</a>
    </div>
{% endblock %}
