{% extends 'base.html.twig' %}

{% block title %}{{ figure.title }}{% endblock %}

{% block body %}
<div id="figure-single">
    <section class="portrait">
        {% if figure.user.id == user %}
        <div class="btn-user">
            <div>
                <a href="{{ path('edit_figure', {'slug': figure.slug} ) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                {#  <a href="{{ path('delete_figure', {'slug': figure.slug} ) }}"><i class="fa-solid fa-trash"></i></a>#}
                <a onclick="document.getElementById('id01').style.display='block'"><i class="fa-solid fa-trash"></i></a>
            </div>
            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <div class="modal-content">
                    <div class="container">
                        <h1>Êtes vous sûr de vouloir supprimer {{ figure.title }}</h1>

                        <div class="clearfix">
                            <button type="button" class="cancelbtn" onclick="document.getElementById('id01').style.display='none'">Annuler</button>
                            <a href="{{ path('delete_figure', {'id': figure.id} ) }}" class="deletebtn">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if portrait == null %}
            <div class="portrait-img" style='background-image: url("/images/default.jpg");'>
                <h1>{{ figure.title }}</h1>
            </div>
        {% else %}
            <div class="portrait-img" style='background-image: url("/images/media/figures-img/{{ portrait.url }}");'>
                <h1>{{ figure.title }}</h1>
            </div>

        {% endif %}


    </section>
    <section class="info-media">
        <div class="media-btn">
            <button id="media-hide-btn" >Medias</button>
        </div>
        <div id="media-hide" class="media-container hidden">
                <div class="media-img">
                    {% for media in mediasImg %}
                    <img src="/images/media/figures-img/{{ media.url }}" alt="">
                    {% endfor %}
                </div>
            <div class="media-video">
                {% for media in mediasVideo %}
                <iframe width="317" height="200" src="https://www.youtube.com/embed/{{ media.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endfor %}
                </div>
        </div>
        <div class="figure-content">
            <div class="content">
                <p>{{ figure.description }}</p>
            </div>
            <div class="figure-atribute">
                <div class="atribute">
                    <p>{{ group }}</p>
                    <p>Creé le {{ figure.createdAt |format_datetime('full', 'none', locale='fr') }}</p>
                    {% if figure.updatedAt is not null  %}
                        <p>Modifie le {{ figure.updatedAt |format_datetime('full', 'none', locale='fr') }}</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    <section class="commentaires">
        {% if user != null %}
        <div class="comment-form">
            <hr>
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.content) }}
            <button type="submit" class="btn-send">Envoyer</button>
            {{ form_end(commentForm) }}
            <hr>
        </div>
        {% endif %}
        <div class="commentaires-all">
            {% for comment in comments %}
            <div class="commentaire">
                <div class="author-img">
                    <div class="color-initial">
                        <p class="initial-user">{{ comment.user.username |slice(0, 1) }}</p>
                    </div>
                </div>
                <div class="commentaire-text">
                    <p class="content">{{ comment.content }}</p>
                    <p class="date">{{ comment.createdAt |date("d/m/Y") }}</p>
                </div>
            </div>
            {% endfor %}
            {{ knp_pagination_render(comments) }}
            {#  <div class="commentaire">
                <div class="author-img">
                    <img src="/images/default.jpg" alt="">
                </div>
                <div class="commentaire-text">
                    <p>Aficher le commentaire</p>
                </div>
            </div>
            <div class="commentaire">
                <div class="author-img">
                    <img src="/images/default.jpg" alt="">
                </div>
                <div class="commentaire-text">
                    <p>Aficher le commentaire</p>
                </div>
            </div>
            <div class="commentaires-paginator">
                <button>Faire la pagination</button>
            </div>#}

        </div>
    </section>
</div>

{% endblock %}
{% block javascripts %}
    <script>
            $("#media-hide-btn").click(function(){
                $("#media-hide").toggleClass("hidden");
            });

    </script>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
